* { margin: 0; padding: 0; }
html { scroll-behavior: smooth }
body {
    background: #6c8eef !important;
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    overflow-x: hidden !important;
    min-height: 100vh;
    /* If you want to change the site height you can remove overflow-y */
    /* pureSnow will automatically detect height of body tag */
    overflow-y: hidden !important;
    color: white;
  }

h1 { font-size:40px !important; }
h2 { font-size:32px !important; }
h3 { font-size:28px !important; }
h4 { font-size:24px !important; }
h5 { font-size:20px !important; }
h6 { font-size:18px !important; }

/* Breakpoint for tablet */
@media (max-width: 768px) {
    h1 { font-size:37px !important; }
    h2 { font-size:29px !important; }
    h3 { font-size:25px !important; }
    h4 { font-size:21px !important; }
    h5 { font-size:19px !important; }
}

.a {
    color: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center !important;
    margin-top: 25% !important;
    overflow-x: hidden;
    width: 100% !important;
}

.a div p {
    margin-bottom:0;
}

.header {
    position: fixed;
    top:0;
    width: 100%;
    color:#fff;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
    color:#fff;
}

#snow {
    position: absolute;
    top: 0;
    width: 100%;
}

.snowflake {
    position: absolute;
    width: 5px;
    height: 5px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
  }